{% extends 'base.html' %}

{% block title %}Home - Farmer Market Advisor{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">Get Market Recommendations</h1>
        <p class="lead">Enter your produce details to receive AI-powered market recommendations.</p>
        
        <!-- Form will be implemented in future tasks -->
        <div class="alert alert-info">
            Form coming soon...
        </div>
    </div>
</div>
{% endblock %}
